<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduConnect</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon" />

    <link href="~/css/tailwind-output.css" rel="stylesheet" asp-append-version="true"  />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/_Layout.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/universities.css" rel="stylesheet" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
</head>
<body class="bg-pink-50 text-gray-900 flex flex-col min-h-screen">
    <header class="flex justify-between items-center p-6 bg-white shadow-sm">
        <div class="text-xl font-bold">
            <a href="/" class="flex items-center space-x-2" style="text-decoration: none; color: inherit;">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_7)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2424 14.6667C11.3297 14.6667 10.5348 13.2795 10.1212 11.23C9.70767 13.2795 8.91273 14.6667 8 14.6667C7.08727 14.6667 6.29233 13.2795 5.8788 11.23C5.46523 13.2795 4.6703 14.6667 3.75757 14.6667C2.4187 14.6667 1.33333 11.6819 1.33333 8C1.33333 4.3181 2.4187 1.33333 3.75757 1.33333C4.6703 1.33333 5.46523 2.72048 5.8788 4.77C6.29233 2.72048 7.08727 1.33333 8 1.33333C8.91273 1.33333 9.70767 2.72048 10.1212 4.77C10.5348 2.72048 11.3297 1.33333 12.2424 1.33333C13.5813 1.33333 14.6667 4.3181 14.6667 8C14.6667 11.6819 13.5813 14.6667 12.2424 14.6667Z" fill="#1C0D0D"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_7">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                <span>EduConnect</span>
            </a>
        </div>
        <nav class="space-x-6">
            <a href="/Home/Universities">Universities</a>
            <a href="/Home/Programs">Programs</a>
            <a href="/Home/Admissions">Admissions</a>
            <a href="/Home/CampusLife">Campus Life</a>
            <a href="#">Research</a>
            <a href="#">Alumni</a>
            <a href="/Home/ApplyNow"><button class="bg-red-500 text-white px-4 py-2 rounded">Apply Now</button></a>
        </nav>
    </header>
    <main class="px-8 py-6 flex-1">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="footer bg-white shadow-inner p-4 text-center w-full" >
        <div class="footer-links mb-2 flex justify-center space-x-6">
            <a href="/Info/ContactUs">Contact Us</a>
            <a href="/Info/Privacy">Privacy Policy</a>
            <a href="/Info/TermsOfService">Terms of Service</a>
        </div>
        <div class="social-icons flex justify-center space-x-4 mb-2">
            <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter">
                <!-- Twitter SVG -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_1_128)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.1928 6.46313C23.0768 6.18285 22.8033 6.00006 22.5 6H19.6472C18.8359 4.61972 17.3604 3.76579 15.7594 3.75C14.5747 3.73446 13.4339 4.19754 12.5953 5.03438C11.7322 5.88138 11.2472 7.04071 11.25 8.25V8.82094C7.47563 7.82531 4.38844 4.755 4.35563 4.72219C4.15019 4.51493 3.84318 4.44566 3.56865 4.54461C3.29411 4.64356 3.1019 4.89277 3.07594 5.18344C2.67188 9.66375 3.97312 12.6619 5.13844 14.3878C5.70664 15.241 6.39786 16.0055 7.18969 16.6566C5.76188 18.3 3.51375 19.1634 3.48938 19.1728C3.27498 19.2531 3.109 19.4269 3.03868 19.6448C2.96837 19.8627 3.00142 20.1008 3.12844 20.2913C3.19875 20.3962 3.48 20.7647 4.16719 21.1087C5.01656 21.5344 6.13875 21.75 7.5 21.75C14.1253 21.75 19.6612 16.6481 20.2266 10.0837L23.0306 7.28062C23.2451 7.06601 23.3091 6.74335 23.1928 6.46313ZM18.9741 9.22031C18.8455 9.34921 18.7682 9.52049 18.7566 9.70219C18.375 15.6169 13.4325 20.25 7.5 20.25C6.51 20.25 5.8125 20.1187 5.32312 19.9613C6.40219 19.3753 7.90688 18.3675 8.87438 16.9163C8.98915 16.7438 9.02746 16.5315 8.98023 16.3298C8.93299 16.128 8.80442 15.9548 8.625 15.8512C8.58094 15.8259 4.50844 13.3819 4.5 6.85125C6 8.07 8.74219 9.96094 11.8753 10.4878C12.0927 10.5245 12.3151 10.4636 12.4836 10.3215C12.6521 10.1794 12.7495 9.9704 12.75 9.75V8.25C12.7483 7.44176 13.0728 6.66702 13.65 6.10125C14.2034 5.54686 14.9574 5.23983 15.7406 5.25C16.9275 5.265 18.0366 5.98875 18.5006 7.05094C18.6202 7.32382 18.8899 7.50008 19.1878 7.5H20.6878L18.9741 9.22031Z" fill="#994D52"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_1_128">
                      <rect width="24" height="24" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
            </a>
            <a href="https://facebook.com/" target="_blank" rel="noopener" aria-label="Facebook">
                <!-- Facebook SVG -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_133)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.25C6.61522 2.25 2.25 6.61522 2.25 12C2.25 17.3848 6.61522 21.75 12 21.75C17.3848 21.75 21.75 17.3848 21.75 12C21.7443 6.61758 17.3824 2.25568 12 2.25ZM12.75 20.2153V14.25H15C15.4142 14.25 15.75 13.9142 15.75 13.5C15.75 13.0858 15.4142 12.75 15 12.75H12.75V10.5C12.75 9.67157 13.4216 9 14.25 9H15.75C16.1642 9 16.5 8.66421 16.5 8.25C16.5 7.83579 16.1642 7.5 15.75 7.5H14.25C12.5931 7.5 11.25 8.84315 11.25 10.5V12.75H9C8.58579 12.75 8.25 13.0858 8.25 13.5C8.25 13.9142 8.58579 14.25 9 14.25H11.25V20.2153C6.85788 19.8144 3.55787 16.0299 3.75854 11.6241C3.95922 7.21827 7.58962 3.74947 12 3.74947C16.4104 3.74947 20.0408 7.21827 20.2415 11.6241C20.4421 16.0299 17.1421 19.8144 12.75 20.2153Z" fill="#994D52"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_133">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a href="https://instagram.com/" target="_blank" rel="noopener" aria-label="Instagram">
                <!-- Instagram SVG -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_138)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7.5C9.51472 7.5 7.5 9.51472 7.5 12C7.5 14.4853 9.51472 16.5 12 16.5C14.4853 16.5 16.5 14.4853 16.5 12C16.4974 9.51579 14.4842 7.50258 12 7.5ZM12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12C15 13.6569 13.6569 15 12 15ZM16.5 2.25H7.5C4.60179 2.2531 2.2531 4.60179 2.25 7.5V16.5C2.2531 19.3982 4.60179 21.7469 7.5 21.75H16.5C19.3982 21.7469 21.7469 19.3982 21.75 16.5V7.5C21.7469 4.60179 19.3982 2.2531 16.5 2.25ZM20.25 16.5C20.25 18.5711 18.5711 20.25 16.5 20.25H7.5C5.42893 20.25 3.75 18.5711 3.75 16.5V7.5C3.75 5.42893 5.42893 3.75 7.5 3.75H16.5C18.5711 3.75 20.25 5.42893 20.25 7.5V16.5ZM18 7.125C18 7.74632 17.4963 8.25 16.875 8.25C16.2537 8.25 15.75 7.74632 15.75 7.125C15.75 6.50368 16.2537 6 16.875 6C17.4963 6 18 6.50368 18 7.125Z" fill="#994D52"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_138">
                            <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="copyright text-sm text-gray-500">
            &copy;2025 EduConnect. All rights reserved.
        </div>
    </footer>
</body>
</html>