@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles below */

html {
  font-size: 14px;
  font-family: 'Public Sans';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    section {
        padding-left: 0;
        padding-right: 0;
    }
}